@import url(/style.css);

footer{
    padding: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--header-footer);

    padding-left: 5rem;
}


footer .spans-img{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

footer .spans{
    display: flex;
    flex-direction: column;
    color: #FFF;

    padding-left: 10px;

}

footer #span-1{
    color: #FFF;
    font-size: 56px;
}

footer #span-2{
    color: #FFF;
    font-size: 19px;
}

footer ul{
    list-style: none;

    display: flex;
    flex-direction: column;

    font-size: 1.25rem;
    color: #fff;

    cursor: pointer;

}

footer ul li{
    padding-bottom: 0.25rem;
    
}

footer ul li:hover{
    transition: 0.4s;

    color: #FF4081 ;
}

footer button{
    background-color: #419488;

    width: 20vw;

    border: 2px solid #fff;
    border-radius: 62px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column; 
    align-items: center;

    text-align: center;

    font-size: 1.25rem;
    color: #FFF;

    padding: 0.5rem;
    margin-top: 1rem;
    margin-right: 5rem;

    cursor: pointer;

}

footer button:hover{
    transition: 0.4s;
    background-color: #FF4081;
    color: #FFF;

}

@media only screen and (max-width: 480px) {
    footer {
        position: relative;
    
        top: 50px;
        padding: 10px;
        padding-bottom: 20px;
    
        font-size: 12px;
    }
    
    footer img {
        width: 50%;
    }
    
    footer button {
        display: none;
    }

    footer ul{
        font-size: 1rem;
    }

}