:root {
  --cor-de-fundo: #f5f1f1;
  --rosa: #FF4081;
  --botao: #419488;
  --texto-principal: #000000;
  --branco-principal: #FFFFFF;
  --fonte-principal: 'Ubuntu';
  --subtitulo: #555555;
  --header-footer: #2E948A;
  --titulo-principal: #009688;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    width: 100%;
  
    font-size: 1rem;
    overflow-x: hidden;

    font-family: 'Ubuntu';
  }

a {
    text-decoration: none;
  }
